---
layout: 
published: true
---
<!--

{% assign index = true %}
<div itemscope itemtype="http://schema.org/Blog">
{% for post in paginator.posts %}
{% unless post.redirect %}
{% assign content = post.content %}
    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        {% include article.html %}  
  </article>
{% endunless %}
{% endfor %}
</div>
<nav id="pagenavi">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}" class="prev">Prev</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">Next</a>
    {% endif %}
    <div class="center"><a href="/archive">Blog Archives</a></div>
</nav>
-->


{% for lang in site.data.languages %}
  {% assign langCode = lang[0] %}
  {% if langCode == 'en' %}{% continue %}{% endif %}
  <em>{{ site.data.translations.selectLang[langCode] }}</em><br />
{% endfor %}

<ul class="languages">
{% for lang in site.data.languages %}
{% assign language = lang[1] %}
<li><a href="/{{lang[0]}}">{{language.icon}} {{ language.label }} ({{ lang[0] }})</a></li>
{% endfor %}
</ul>