---
layout: default
---
{% assign posts=site.posts | where:"lang", page.lang %}
<article class="page">
	{% if page.layout != 'index' %}
	  {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
	  {% if posts.size == 0 %}
	  {% endif %}
	  {% if posts.size > 1 %}
	    {% for post in posts %}
	  <link rel="alternate" hreflang="{{post.lang}}" href="{{ site.base-url }}{{ post.url }}" />
	    {% endfor %}
	  {% endif %}
	{% endif %}
	
    {% if page.title %}
    <h1 class="title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
    <div class="entry-content">{{ content }}</div>
</article>
{% if site.disqus_short_name and page.comments == true %}
<section id="comment">
    <h1 class="title">Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
</section>
{% endif %}
